h1 {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
}

header, main, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#todo-list {
  display: grid;
  gap: 10px;
}

.todo-item {
  width: 50vw;
  min-width: 200px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid;
  border-radius: 20px;
}

#clear-completed {
  display: none;
}

.some-checked #clear-completed {
  display: inline-block;
}
